@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .logo-text-highlight {
        @apply text-green-500 dark:text-green-400
    }
}

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    src: url("/fonts/code/FiraMono-Regular.ttf") format("truetype");
}

.header-inner {
    width: 92%;
    max-width: calc(100% - 40px);
}

::-moz-selection {
    background: #f00 !important;
    color: #fff !important;;
}
::selection {
    @apply bg-editor-green-selection text-neutral-950 dark:text-white !important;;
}