.yoopta-editor {
  @apply !w-full;

  button.yoopta-block-actions-plus {
    @apply text-neutral-500 hover:bg-neutral-100 dark:hover:bg-neutral-800 dark:text-neutral-400;
  }

  button.yoopta-block-actions-drag {
    @apply text-neutral-500 hover:bg-neutral-200 dark:hover:bg-neutral-800 dark:text-neutral-400;
  }

  .yoopta-placeholder {
    @apply text-neutral-900 dark:text-neutral-50;
  }

  .yoopta-action-menu-list-content {
    @apply bg-white dark:bg-black border-[1px] border-neutral-200 dark:border-neutral-800 p-2;

    button[aria-selected="true"] {
      @apply bg-neutral-100 dark:bg-neutral-800;
    }

    button {
      @apply text-neutral-800 hover:text-neutral-900 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-900 dark:hover:text-neutral-100;

      .yoo-action-menu-flex {
        @apply bg-neutral-100 dark:bg-neutral-900 border-[1px] border-neutral-200 dark:border-neutral-700;
      }

      .yoo-action-menu-text-xs {
        @apply text-neutral-600 dark:text-neutral-400
      }
    }
  }

  .yoopta-block-options-menu-content {
    @apply bg-white dark:bg-black border-[1px] border-neutral-200 dark:border-neutral-800;

    button {
      @apply text-neutral-800 hover:text-neutral-900 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-900 dark:hover:text-neutral-100;
    }
  }

  .yoopta-toolbar-root {
    @apply bg-white dark:bg-black border-[1px] border-neutral-200 dark:border-neutral-800;

    button {
      @apply text-neutral-800 bg-white dark:bg-black hover:text-neutral-900 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-900 dark:hover:text-neutral-100;
    }

    .yoopta-toolbar-separator {
      @apply bg-neutral-200 dark:bg-neutral-800;
    }


  }

  .yoopta-link-preview {
    @apply bg-neutral-100 dark:bg-neutral-900 border-[1px] border-neutral-200 dark:border-neutral-800 px-3 py-2;

    .yoopta-link-preview-separator {
      @apply mx-3 bg-neutral-200 dark:bg-neutral-800;
    }
  }

  .yoopta-link-tool {
    @apply bg-neutral-100 dark:bg-neutral-900 border-[1px] border-neutral-200 dark:border-neutral-800;

    label {
      @apply text-neutral-600 dark:text-neutral-400
    }

    input {
      @apply outline-none text-neutral-950 dark:text-neutral-100 border-neutral-300 dark:border-neutral-700
    }

    .yoopta-button {

    }
  }

  div[data-radix-popper-content-wrapper] {
    & > div {
      @apply bg-white dark:bg-black border-[1px] border-neutral-200 dark:border-neutral-800;
    }
  }
}

span.yoopta-placeholder::after {
  font-size: 100%;
  padding-left: 0;
  opacity: .5;
}
